*{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    #about{
        width: 90%;
        border-bottom: 1px solid gray;
        padding: 5vh 0px;
        header{
            margin: 50px 0px;
            h2{
                font-size: 2rem;
            }
        }
        p{
            font-size: .9rem;
            line-height: 20px;
            word-spacing: 2px;
        }
    }
    #faq{
        width: 90%;
        header{
            margin: 25px 0px;
            h2{
                font-size: 2rem;
                padding: 50px 2px;
            }
        }
        .questions{
            width: 60%;
            #q1,#q2,#q3,#q4,#q5{
                border: 1px solid gray;
                margin: 15px 0px;
                padding-right: 10px;
                h2{
                    padding: 10px 10px;
                    font-size: 1.3rem;
                    color: #c0c0c0;
                    background-color: transparent;
                }
                .ans{
                    display: none;
                    height: 0px;
                    width: 0px;
                    font-size: .9rem;
                    color: #c0c0c0;
                    padding: 1vh 0px 1vh 2vw;
                }
                .ans.active{
                    display: flex;
                    height: fit-content;
                    width: 100%;
                }
            }
        }
    }
}